[user]
	name = Peter Bedor
	email = peterbedor@gmail.com

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Dracula
	minus-style = "syntax #2a1520"
	minus-emph-style = "syntax #5c1a2a"
	plus-style = "syntax #122a1f"
	plus-emph-style = "syntax #1a5c35"
	line-numbers-minus-style = "#f16c75"
	line-numbers-plus-style = "#37f499"
	line-numbers-zero-style = "#3a3f4b"
	hunk-header-decoration-style = "#04d1f9 box"
	hunk-header-style = "file line-number syntax"
	file-style = "#04d1f9 bold"
	file-decoration-style = "#987afb ul"

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[alias]
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	undo = reset HEAD~1 --mixed
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'wip'
	graph = log --oneline --graph --decorate --all

[http]
	postBuffer = 524288000

[pack]
	windowMemory = 256m
	packSizeLimit = 256m
[url "git@github.com:scrybe-to/"]
	insteadOf = https://github.com/scrybe-to/
